* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.sombra {
    -webkit-box-shadow: 0px 14px 16px 8px rgba(148, 148, 148, 1);
    -moz-box-shadow: 0px 14px 16px 8px rgba(148, 148, 148, 1);
    box-shadow: 0px 14px 16px 8px rgba(148, 148, 148, 1);

}

html {
    box-sizing: border-box;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}


body {
    background: lightblue;
    position: relative;
    height: auto;
}

/*navegador*/

header {
    width: min(60rem, 100%);
    margin: 0 auto;
}


.nav-principal {
    background-color: #1d4054;
    display: flex;
    justify-content: space-around;
}

.nav-principal ul li {
    padding: 0 1.5rem 1.5rem;
}

.nav-link {
    color: white;
}

main {
    margin-top: 10rem;
}

/*Cards*/

.container-cards {
    margin: 1rem auto 1rem auto;
    border: 0;
    width: min(70rem, 100%);
    padding: 0.1rem 2rem 1rem 2rem;
    background-color: white;
    border-radius: 2%;
}

.right-side .col .card .card-footer {
    display: flex;
    justify-content: center;
}

.right-side .col .card-body .imgCard {
    display: flex;
    justify-content: center;
}

.right-side .col .card-body p {
    display: flex;
    justify-content: center;
}

.right-side .buscador {
    margin: 1rem 0 1rem 0;
}

.right-side .container-fluid2 {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}


/*pages*/

.page {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}

/*footer*/

footer {
    width: min(68rem, 100%);
    margin: 0 auto;
    padding-top: 3rem;
}



